@media screen and (min-width: 1600px) {
* {
        font-family: 'Raleway', sans-serif;
}
.header{
    display: flex;
    justify-content: flex-end;
}
.header_style{
    display: flex;
    flex-direction: row;
 
}
}