@media screen and (min-width: 1600px) {
* {
        font-family: 'Raleway', sans-serif;
}
.header{
    display: flex;
    justify-content: flex-end;
}
.header_style{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Search_container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
}